/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Background */
    --home-bg-gradient: linear-gradient(
        180deg, rgba(5,10,19,1) 0%,
        rgba(8,26,60,1) 100%
    );
    --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='342' height='342' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231B1E26' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233E6869'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    
    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    --color-purple: #8b30fb99;

    /* Size */
    --size-max-width: 1200px;

    /* Divider */
    --divider-single-wave: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path> </svg>');
    --divider-curve: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z"></path> </svg>');
    --divider-split: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M600,16.8c0-8.11-8.88-13.2-19.92-13.2H0V120H1200V3.6H619.92C608.88,3.6,600,8.66,600,16.8Z"></path> </svg>');
    --divider-arrow: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"></path> </svg>');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    touch-action: pan-x pan-y;
    margin: 0;   
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* 
 *  Common
 */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    color:#686868;
    font-family: "Orbit", sans-serif;
    font-weight: lighter;
    font-size: 1.0rem;
    margin: 0.5rem 0;
}

.description__strong {
    font-weight: bolder;
    color:#686868;
}

/* 
 *  Header 
 */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    /* justify-content 속성 : flex 요소의 수평 방향 정렬 방식을 설정*/
    justify-content: space-between; /* space-beetween : 플렉스 요소들 사이에만 여유 공간을 두고 배치된다. */ 
    align-items: center;
    z-index: 1; /* 화면의 프론트단 우선순위를 최우선으로 높임 */
    transition: all 300ms ease;
    border-bottom:solid 2px #3e3e3e33;
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: 3.0px 6.0px 6.0px rgba(34, 34, 34, 0.38);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem; /* 상대적인 유닛, 현재 브라우저의 기본적으로 설정된 폰트 크기의 1.8배 해준다는 의미 */
    font-family: "Jersey 20", sans-serif;
}

.header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__menu__item {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
    background-color: #ffffff;
    filter: opacity(80%);
    color : black;
    /* margin-bottom: -1px; */
}

/* header__menu__item 클래스 + active 클래스 둘 다 가지고 있을 때 스타일 적용 */
.header__menu__item.active { 
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* 
 *  Home
 */

#home {
    position: relative;
    background-color: var(--color-primary);
    /* background: var(--home-bg-gradient); */
    background-image: var(--home-bg-svg);
    color: var(--color-text);
    padding: 5rem 1rem;
    /* padding: 0rem 1rem; */
    padding-top: 7rem;
    text-align: center;   
}

#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* width: calc(114% + 1.3px); */
    height: 81px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--color-white);
    mask: var(--divider-single-wave);
    -webkit-mask: var(--divider-single-wave);
}


/** For mobile devices **/
@media (max-width: 767px) {
    #home::after {
        /* width: calc(147% + 1.3px); */
        width: 100%;
        height: 81px;
    }
}
.home__avatar {
    width: 250px;
    height: 250px;
    /* object-fit: <img>나 <vidio> 요소와 같은 대체 요소의 
       콘텐츠 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정한다. */
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-family: "Jersey 20", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem; 
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    /* border로 적용하게 되면 앞의 스타일에서 box-sizing: border-box;로 
       설정한거 때문에 컨텐츠가 밀리는 현상이 나타나게 되므로, outline을 사용해준다. */
    outline: 2px solid var(--color-accent); 
}

/* 
 *  About
 */
 .majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
 }

 .major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* major 요소에 마우스를 올렸을 때, 커서가 드래그 모양 -> Default 설정 */
    box-shadow: 5px 5px 0px 0px var(--color-purple);
 }
 .major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease; /* 모든 요소에 한해서 300ms동안 ease 옵션을 넣어준다. */
 }

 .major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }

 .major:hover .major__icon{
    transform: rotate(-15deg) scale(1.2); /* 반시계 방향으로 -15deg만큼 회전시키고, 1.2만큼 스케일 확대 */
 }

 .jobs {
    text-align: start;
 }

 .job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
 }

 .job__name {
    color: var(--color-primary);
 }

 .job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
 }

/* 
 *  Skills
 */
#skills {
    position: relative;
    background-color: var(--color-primary-variant);
    color: var(--color-text);    
}

#skills::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* width: calc(103% + 1.3px); */
    height: 86px;
    overflow: hidden;
    line-height: 0;
    background-color: var(--color-primary);
    mask: var(--divider-curve);
    -webkit-mask: var(--divider-curve);
}

/** For mobile devices **/
@media (max-width: 767px) {
    /* #skills { */
        /* width: calc(134% + 1.3px); */
        /* width: 100%;
        height: 66px;
    } */
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr; /* grid 템플릿 컬럼을 6:4 비율로 나눔 */
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 0px 0px var(--color-purple);
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0; /* .skills__title 클래스 영역 기준으로 마진을 위, 아래로 1rem 주고, 양옆으로 0rem 줌 */
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2; /* skills__coding 클래스 영역을 로우 기준으로 span 2개 영역을 가지도록 */
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%); /* 기존의 색상에서 필터를 이용하여 밝기를 조절 */
}

/* Skills > progress bar */
.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata{
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

/* 
 *  Work
 */
#work {
    background-color: var(--color-primary);
    color: var(--color-text);
}
#work::after {

}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;/* 자식요소 중에서 짝수요소 중에서 순서대로 순서를 부여함 */
}

.category:hover {
    background-color: var(--color-white);
    color: var(--color-gray);
    border-color: var(--color-white);
}

.category--selected .category__count,
.category:hover .category__count { 
    /* category가 select 되었을 때, 그 안에 있는 카테고리 카운트인 경우 or
       카테고리에 마우스가 올라왔을 때 그 안에 카테고리 카운트를 opacity를 1로 지정 */
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 일정하게 1배율로 4번 반복 */
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 250ms ease-out;
}

.projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

.project {
    position: relative; /* position의 기준점이 되므로 relative 설정해줌 */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 0px 0px var(--color-purple);
}

.project__img {
    width: 100%; /* 부모의 너비를 100%만큼 가득 채우도록 */
    border-radius: 8px;
}

.project__metadata {
    position: absolute; /* 기존의 문서에서 빠져나오는 것을 원하기 때문에 absolute 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column; /* 수직방향으로 정렬, flex-direction 값이 row일 경우 수평 방향으로 정렬함 */
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in; /* transition : [ transition-property(width, height), transition-duration, transition-timing-function ] */
    transform: translateY(-15px);
}

.project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__title:after { /* .project__title 클래스 다음 요소에 선택자를 만들지 않고 after를 사용하여 가상 선택자를 생성 */
    content: '';
    display: block;
    position: relative;
    left: 50%; /* 기존 위치에서 왼쪽으로 50%만큼 이동 */
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/* 
 *  Testimonials
 */
.testimonials {
    margin: 3rem;
}

.testimonial {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial__img {
    /* 자식요소 중에서 짝수요소 중에서 순서대로 순서를 부여함 */
    order: 1;
}

.testimonial__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgb(0, 0, 0, 0.24) 0 3px 8px;
}

.testimonial__bubble {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0, 0.24) 0 3px 8px;
}

.testimonial__bubble__name {
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
}

/* 
 *  Arrow up
 */
.arrow-up {
    position: fixed; /* 화살표 아이콘을 항상 화면 내에 고정 */
    background-color: var(--color-primary);
    bottom: 3rem; /* 화면 상의 bottom으로부터 3rem 띄움 */
    right: 3rem; /* 화면 상의 right로 부터 3rem 띄움 */
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 4px 4px 0px 0px var(--color-accent);
    transition: opacity 300ms ease-in;
}

.arrow-up:hover {
    background-color: var(--color-gray);
}

/* 
 *  Testimonials
 */
 #contact {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-text);
 }
 #contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* width: calc(103% + 1.3px); */
    width: 100%;
    height: 86px;
    line-height: 0;
    background-color: var(--color-white);
    mask: var(--divider-arrow);
    -webkit-mask: var(--divider-arrow);
}


/** For mobile devices **/
@media (max-width: 767px) {
    #contact::after {
        /* width: calc(100% + 1.3px); */
        width: 100%;
        height: 47px;
    }
}

 .contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
 }

.contact__link {
    transition: color 250ms ease-in; /* transition : 속성, 시간, 효과 */
}

.contact__link:hover {
   color: var(--color-accent);
}

/* 
 *   ###  Media Query  ###
 */

/* 디바이스 화면의 너비 0px ~ 768px 범위의 스타일 */
@media screen and (max-width: 768px) {
    /* Common */
    .section {
        padding: 3rem 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }
    
    /* Header */
    .header {
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
        filter: opacity(90%);
    }

    .header__toggle {
        display: block;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        margin: 1rem 1rem;
        /* gap: 1rem; */
    }

    .header__menu.open {
        display: flex;
    }

    .header__toggle {}

    .header__nav {
        width: 100%;
    }

    .header__menu li{
        /* display: grid; */
        width:100%;
    }
    /* .header__menu__item:hover {
        background-color: white;
        color: var(--color-black);
        filter: opacity(70%);
        border: transparent;
    } */
    /* Home */
    #home {
        padding-bottom: 3rem;
    }
    #home > .home__container > h2 {
        font-size : 1.8rem;
    }
    #home > .home__container > p {
        font-size : 1.1rem;
    }

    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    /* About */
    .majors {
        flex-direction: column;
        align-items: center;
    }
    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    /* Skills */
    .skills {
        grid-template-columns: 1fr;
        box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    }

    /* Work */
    .categories {
        flex-direction: column;
    }
    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1.5rem;
        gap: 1.5rem;
    }

    /* Testimonial */
    .testimonial {
        flex-direction : column;
    }

    .testimonial:nth-child(even) .testimonial__img {
        order: 0;
    }
    
    /* Footer */
    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .arrow-up:hover {
        background-color: var(--color-gray);
    }

}