/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    --color-purple: #8b30fb99;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* 
 *  Common
 */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


/* 
 *  Header 
 */
.header {
    background-color: #050a13;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    /* justify-content 속성 : flex 요소의 수평 방향 정렬 방식을 설정*/
    justify-content: space-between; /* space-beetween : 플렉스 요소들 사이에만 여유 공간을 두고 배치된다. */ 
    align-items: center;
    z-index: 1; /* 화면의 프론트단 우선순위를 최우선으로 높임 */
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem; /* 상대적인 유닛, 현재 브라우저의 기본적으로 설정된 폰트 크기의 1.8배 해준다는 의미 */
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

/* header__menu__item 클래스 + active 클래스 둘 다 가지고 있을 때 스타일 적용 */
.header__menu__item.active { 
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* 
 *  Home
 */

#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;   
}

.home__avatar {
    width: 250px;
    height: 250px;
    /* object-fit: <img>나 <vidio> 요소와 같은 대체 요소의 
       콘텐츠 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정한다. */
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem; 
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    /* border로 적용하게 되면 앞의 스타일에서 box-sizing: border-box;로 
       설정한거 때문에 컨텐츠가 밀리는 현상이 나타나게 되므로, outline을 사용해준다. */
    outline: 2px solid var(--color-accent); 
}

/* 
 *  About
 */
 .majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
 }

 .major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* major 요소에 마우스를 올렸을 때, 커서가 드래그 모양 -> Default 설정 */
    box-shadow: 5px 5px 0px 0px var(--color-purple);
 }
 .major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease; /* 모든 요소에 한해서 300ms동안 ease 옵션을 넣어준다. */
 }

 .major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }

 .major:hover .major__icon{
    transform: rotate(-15deg) scale(1.2); /* 반시계 방향으로 -15deg만큼 회전시키고, 1.2만큼 스케일 확대 */
 }

 .jobs {
    text-align: start;
 }

 .job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
 }

 .job__name {
    color: var(--color-primary);
 }

 .job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
 }

/* 
 *  Skills
 */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);    
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr; /* grid 템플릿 컬럼을 6:4 비율로 나눔 */
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 0px 0px var(--color-purple);
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0; /* .skills__title 클래스 영역 기준으로 마진을 위, 아래로 1rem 주고, 양옆으로 0rem 줌 */
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2; /* skills__coding 클래스 영역을 로우 기준으로 span 2개 영역을 가지도록 */
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%); /* 기존의 색상에서 필터를 이용하여 밝기를 조절 */
}

/* Skills > progress bar */
.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata{
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

/* 
 *  Work
 */
#work {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;/* 자식요소 중에서 짝수요소 중에서 순서대로 순서를 부여함 */
}

.category:hover {
    background-color: var(--color-white);
    color: var(--color-gray);
    border-color: var(--color-white);
}

.category--selected .category__count,
.category:hover .category__count { 
    /* category가 select 되었을 때, 그 안에 있는 카테고리 카운트인 경우 or
       카테고리에 마우스가 올라왔을 때 그 안에 카테고리 카운트를 opacity를 1로 지정 */
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 일정하게 1배율로 4번 반복 */
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    position: relative; /* position의 기준점이 되므로 relative 설정해줌 */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 0px 0px var(--color-purple);
}

.project__img {
    width: 100%; /* 부모의 너비를 100%만큼 가득 채우도록 */
    border-radius: 8px;
}

.project__metadata {
    position: absolute; /* 기존의 문서에서 빠져나오는 것을 원하기 때문에 absolute 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column; /* 수직방향으로 정렬, flex-direction 값이 row일 경우 수평 방향으로 정렬함 */
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in; /* transition : [ transition-property(width, height), transition-duration, transition-timing-function ] */
    transform: translateY(-15px);
}

.project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__title:after { /* .project__title 클래스 다음 요소에 선택자를 만들지 않고 after를 사용하여 가상 선택자를 생성 */
    content: '';
    display: block;
    position: relative;
    left: 50%; /* 기존 위치에서 왼쪽으로 50%만큼 이동 */
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/* 
 *  Testimonials
 */
.testimonials {
    margin: 3rem;
}

.testimonial {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial__img {
    /* 자식요소 중에서 짝수요소 중에서 순서대로 순서를 부여함 */
    order: 1;
}

.testimonial__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgb(0, 0, 0, 0.24) 0 3px 8px;
}

.testimonial__bubble {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0, 0.24) 0 3px 8px;
}

.testimonial__bubble__name {
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
}

/* 
 *  Testimonials
 */
 #contact {
    background-color: var(--color-primary);
    color: var(--color-text);
 }

 .contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
 }

.contact__link {
    transition: color 250ms ease-in; /* transition : 속성, 시간, 효과 */
}

.contact__link:hover {
   color: var(--color-accent);
}