/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* 
 *  Header 
 */
.header {
    background-color: #050a13;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    /* justify-content 속성 : flex 요소의 수평 방향 정렬 방식을 설정*/
    justify-content: space-between; /* space-beetween : 플렉스 요소들 사이에만 여유 공간을 두고 배치된다. */ 
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem; /* 상대적인 유닛, 현재 브라우저의 기본적으로 설정된 폰트 크기의 1.8배 해준다는 의미 */
}

.header__menu{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

/* header__menu__item 클래스 + active 클래스 둘 다 가지고 있을 때 스타일 적용 */
.header__menu__item.active { 
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* 
 *  Home
 */

#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;   
}

.home__avatar {
    width: 250px;
    height: 250px;
    /* object-fit: <img>나 <vidio> 요소와 같은 대체 요소의 
       콘텐츠 크기를 어떤 방식으로 조절해 요소에 맞출 것인지 지정한다. */
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem; 
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    /* border로 적용하게 되면 앞의 스타일에서 box-sizing: border-box;로 
       설정한거 때문에 컨텐츠가 밀리는 현상이 나타나게 되므로, outline을 사용해준다. */
    outline: 2px solid var(--color-accent); 
}